<% include partials/header %>

	<div id="contents">
		<div class="clearfix row">
			<div class="sidebar col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div>
					<h2>Contact Info</h2>
					<ul class="contact">
						<li>
							<i class="fa fa-home" aria-hidden="true"></i>  Manes Winchester<br> Family Law Firm the address city, state 1111
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>  Phone: (+20) 000 222 999
						</li>
						<li>
							<i class="fa fa-fax" aria-hidden="true"></i>  Fax: (+20) 000 222 988
						</li>
						<li>
							<i class="fa fa-envelope" aria-hidden="true"></i> Email: info@freewebsitetemplates.com
						</li>
					</ul>
				</div>
			</div>
			<div class="main col-lg-8 col-md-12 col-sm-12 col-xs-12">
				<h1>Contact</h1>
				<h2>Send Us a Quick Message</h2>
				<p>
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
				</p>
				<form action="index.html" method="post" class="message">
					<label>First Name</label>
					<input type="text" value="">
					<label>Last Name</label>
					<input type="text" value="">
					<label>Email Address</label>
					<input type="text" value="">
					<label>Message</label>
					<textarea></textarea>
					<p>
						<button type="button" class="btn btn-secondary" style="background: #686868;border-radius:0px;">SEND MESSAGE</button>
					</p>
				</form>
			</div>
		</div>
	</div>
	
<% include partials/footer %>