
<% include partials/header %>

	<div id="contents">
		<div class="clearfix row">
			<div class="sidebar col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div>
					<h2>Our Lawyers</h2>
					<p>
						This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.
					</p>
					<p>
						You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					</p>
					<p>
						If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
					</p>
				</div>
				<div>
					<h2>Client Testimonials</h2>
					<p>
						&ldquo;The best family lawyers in the city so far. Me and my ex-wife didn’t have any<br> problems settling the terms and agreement. Everything went so smoothly. We’re both very happy.&ldquo; <span>- Jared Greene</span>
					</p>
				</div>
			</div>
			<div class="main col-lg-8 col-md-12 col-sm-12 col-xs-12">
				<h1>Our Lawyers</h1>
				<div class="section delet">
					<h2>Directors</h2>
					<ul>
						<li>
							<div class="frame4 del">
								<div class="box del">
									<img src="images/thumbnail-sideview.jpg" alt="Img" height="94" width="90">
								</div>
							</div>
							<p>
								<b>Pauline H. Wilson</b> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.You can remove any link to our website from this website template.
							</p>
						</li>
						<li>
							<div class="frame4 del">
								<div class="box del">
									<img src="images/thumbnail-focus.jpg" alt="Img" height="94" width="90">
								</div>
							</div>
							<p>
								<b>Kenneth E. Lunderberg</b> You're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
							</p>
						</li>
					</ul>
				</div>
				<div class="section delet">
					<h2>Senior Associates</h2>
					<ul>
						<li>
							<div class="frame4 del">
								<div class="box del">
									<img src="images/thumbnail-smile.jpg" alt="Img" height="94" width="90">
								</div>
							</div>
							<p>
								<b>George R. Montgomery</b> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.You can remove any link to our website from this website template.
							</p>
						</li>
					</ul>
				</div>
				<div class="section last-child delet">
					<h2>Associates</h2>
					<ul>
						<li>
							<div class="frame4 del">
								<div class="box del">
									<img src="images/thumbnail-frontview.jpg" alt="Img" height="94" width="90">
								</div>
							</div>
							<p>
								<b>Denise M. Silvia</b> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.You can remove any link to our website from this website template.
							</p>
						</li>
						<li>
							<div class="frame4 del">
								<div class="box del">
									<img src="images/thumbnail-happy.jpg" alt="Img" height="94" width="90">
								</div>
							</div>
							<p>
								<b>Nancy R. Bakken</b> You're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
<% include partials/footer %>