<% include partials/header %>

	<div id="contents">
		<div class="clearfix row">
			<div class="sidebar col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div>
					<h2>Recent News</h2>
					<p>
						This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.
					</p>
					<p>
						You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					</p>
					<p>
						If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
					</p>
				</div>
				<div>
					<h2>Client Testimonials</h2>
					<p>
						&ldquo;The best family lawyers in the city so far. Me and my ex-wife didn’t have any<br> problems settling the terms and agreement. Everything went so smoothly. We’re both very happy.&rdquo; <span>- Jared Greene</span>
					</p>
				</div>
			</div>
			<div class="main col-lg-8 col-md-12 col-sm-12 col-xs-12 leff">
				<div class="images del">
					<img src="images/family.png" alt="Img" height="237" width="205" class="del">
				</div>
				<div class="details sing">
					<p class="info">
						31st January 2023 by <span class="author">Manes Winchester</span>
					</p>
					<h2>News Single Post</h2>
					<p>
						This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
					</p>
					<p>
						This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					</p>
				</div>
			</div>
		</div>
	</div>
	
<% include partials/footer %>