<% include partials/header %>

<div class="container row subsc" style="margin:0 auto;">
    <% users.forEach(function(user){ %>
        <div class="col=lg-8 col-md-8 col-sm-8 col-xs-8 mails" style="text-align:center;">
            <p><%= user.email %></p>
        </div>
        <div class="col=lg-3 col-md-3 col-sm-3 col-xs-3 btns">
            <form method="POST" action="send/<%= user.email %>?_method=PUT">  
                <button class="btn btn-secondary" type="submit" style="background: #686868;border-radius:0px;" onClick='addItem(this)'>SEND MAIL</button>
            </form>
        </div>
    <% }); %>
</div>

<% include partials/footer %>